


<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-8">


      <h2> <%= @companies.name %></h2>
      <p> <%= @companies.sector %></p>
      <p> <%= @companies.address %></p>

   

      <%= link_to "Edit", edit_company_path(@companies) %>
      <%= link_to "Destroy", company_path(@companies),
      method: :delete,
      data: { confirm: "Are you sure?" } %>

    </div>
  </div>
</div>
